.ship_con,.back_con,.details-con,.des-con,.case2-con{
    width:1262px;
    margin:0 auto;
}



/* 页头运送 */
.ship{
    height:40px;
    border-bottom: 1px solid #888;
}
.ship_con{
    height:40px;
}
.ship1{
    height:40px;
    line-height:40px;
    margin-left:140px;
    float:left;
}
.ship1>span>img{
    height:23px;
    width:23px;
    float:left;
    margin:8px 10px 0 0 ;
}
.shipp1{
    font-size:14px;
    color:#000;
    float:left;
}
.ship2{
    margin-left:220px;
}
.ship3{
    margin-left:210px;
}


/* 详情文字 */
.back{
    height:55px;
    width:100%;
}
.back_con{
    height:35px;
    padding-top:20px;
    font-size:14px;
    color:#000;
 
}
.de-p1{
    margin-left:10px;
    line-height:14px;
    height:14px;
    width:50px;
    float:left;
    border-right:1px solid #000;
}
.de-p2{
    margin-left:10px;
    line-height:14px;
    height:14px;
    width:200px;
    float:left;
}


/* 详情 */
.details{
    height:504px;
    background:#eceef0;
}
.details-con{
    height:504px;
    position: relative;
}

#exzoom {
	width: 400px;
	/*height: 400px;*/
	margin-left:120px;
}

.details-right{
    background:#fff;
    height:782px;
    width:320px;
    position: absolute;
    top:-25px;
    left:700px;
    padding:15px;
    z-index:10;
    box-shadow: #666 0px 0px 10px;background:#fff;  
}
.details-right:hover{
    box-shadow: #000 0px 0px 15px;
}
.details-right .dr-p1{
    font-size:13px;
    color:#888;
}
h5{
    font-size:20px;
    color:#000;
    margin-top:10px;
}
.xinxin{
    font-size:14px;
    color:#000;
    margin-top:25px;
}
.xinxin a{
    font-size:13px;
    margin-left:5px;
}
.doller{
    font-size:14px;
    color:#000;
    margin-top:22px;
}
.style{
    font-size:13px;
    color:#000;
    margin-top:38px;
}
.imgs{
    height:143px;
    width:351px;
    margin-top:20px;
}
.imgs img{
    height:60px;
    width:60px;
    border-radius: 30px;
    margin:10px 10px 0  0 ;
}
.chata{
    display:block;
    font-size:13px;
    color:#000;
    margin-top:20px;
}
.chatacm{
    height:213px;
    width:315px;
    background:#fff;
    border:1px solid #000;
    border-top:none;
    position: absolute;
    top:40px;
    z-index:3;
    display:none;
}
.chatdiv-top{
    height:170px;
}
.chatdiv{
    height:34px;;
    width:40px;
    float:left;
    background:#fff;
    border:1px solid #888;
    margin:10px;
    text-align:center;
    line-height:34px;
}
.chatdiv a{
    color:#000;
}

.chatdiv:hover{
    background:#000;
}
.chatdiv:hover a{
    color:#fff;
}

.chatdiv-bot{
    height:43px;
}
.chatdiv-bot p{
    font-size:13px;
    color:#000;
    float:left;
    margin:5px 0 0 10px;
}

.cb-lj{
    height:27px;
    width:80px;
    background:#000;
    float:left;
    margin-top:5px;
    text-align:center;
    line-height:27px;
}
.chatdiv-bot div a{
    font-size:14px;
    color:#fff;
}

.chatul{
    height:280px;
    width:79px;
    background:#fff;
    position: absolute;
    left:236px;
    top:40px;
    border:1px solid #000;
    border-top:none;
    display:none;
}
.chatul ul li{
    height:30px;
    width:79px;
    text-align:center;
    line-height:30px;
}
.chatul ul li:hover{
    background:#000;
    color:#fff;
}
.chatul .chatli{
    border-bottom:none;
}


.inbtn{
    height:50px;
    position: relative;
}
.inp1{
    height:42px;
    width:193px;
    float:left;
    border:1px solid #000;
    color:#000;
    border-right:none;
}
.btn1{
    height:44px;
    width:37px;
    border:1px solid #000;
    border-left:none;
    background:#fff;
    float:left;
}

.inp2{
    height:42px;
    width:46px;
    margin-left:5px;
    border:1px solid #000;
    border-right:none;
    float:left;
}
.btn2{
    height:44px;
    width:34px;
    border:1px solid #000;
    border-left:none;
    background:#fff;
    float:left;
}
.payi{
    height:41px;
    width:320px;
    background:#000;
    color:#fff;
    font-size:14px;
    line-height:41px;
    margin-top:26px;
   
} 
.payi p a:hover{
    color:#888;
}
.payi a{
    color:#fff;
    float:left;
}

.payi p{
    margin-left:20px;
}
.payi i{
    float:right;
}
.pay2{
    background:#fff;
    border:2px solid #000;
}
.pay2 a{
    color:#000;
}
.pay2 i{
    float:right;
    color:#000;
}
.ol{
    height:40px;
    width:100%;
    font-size:13px;
    color:#000;
    margin-top:10px;
    border-bottom: 1px solid #888;
}
.olp{
    float:left;
    margin-left:5px;
}
.olp1{
    float:right;
    margin-right:5px;
}

.sming{
    font-size:12px;
    color:#888;
    margin:20px 0 15px 0;
}
.song div{
    height:40px;
    width:40px;
    border:1px solid #888;
}
.song div:first-child{
    float:left;
    background:url(./../images/goods/icon.png)-55px -148px;
}
.song div:last-child{
    margin-left:50px;
    background:url(./../images/goods/icon.png)-194px -146px;
}







/* 商品描述 */
.description{
    margin-top:360px;
    height:1196px;
    width:100%;
}
.des-con{
    height:1196px;
}
.desc-top{
    height:56px;
    width:100%;
    border-bottom: 1px solid #888;
}
.desc-top p{
    font-size:24px;
    color:#000;
    text-align:center;
    line-height:56px;

}
.desc-bet{
    height:610px;
    width:100%;
}
.dpeic{
    height:75px;
    width:100%;
    padding-top:70px;
}
.dpei{
    /* margin-top:82px; */
    font-size:22px;
    font-weight: 600;
    text-align: center;
}
.img-case{
    height:465px;
    width:100%;
}
.incaseimg1{
    height:465px;
    width:435px;
    margin-left:200px;
    float:left;
}
.img-right{
    height:465px;
    width:350px;
    margin-left:700px;
}
.ir-top{
    height:117px;
    width:350px;
    background:#fff;
}
.ir-top>img{
    height:117px;
    width:120px;
    float:left;
}

.tr-price{
    height:117px;
    width:230px;
   margin-left:140px;
}
.tr-price p a{
    font-size:13px;
    color:#000;
    margin-top:30px;
}
.tr-price i{
    font-size:12px;
    margin-top:18px;
}
.ir-top2{
    margin-top:32px;
}

.desc-bot{
    height:530px;
    width:100%;
}
.bot-top{
    height:104px;
    width:100%;
    text-align: center;
    padding-top:85px;
}
.bot-top h3{
    font-size:32px;
    font-weight:600;
}
.bot-top p{
    margin-top:16px;
    font-size:20px;
    color:#888;
}
.bot-bet{
    height:200px;
    width:100%;
}
.bb-left{
    height:180px;
    width:818px;
    float:left;
    padding-top:20px;
}
.bb-left p{ 
    font-size:13px;
    margin:0 48px 0 82px;
    line-height:28px;
}
.bb-right{
    height:200px;
    width:444px;
    float:right;
}
.bb-right ul li{
    font-size:12px;
    margin:8px 0 0 10px;
}

.bot-bot{
    height:112px;
    width:100%;
    padding-top:28px;
}
.bot-bot p:first-child{
    font-size:13px;
    color:#888;
    margin-left:10px;
}
.bot-bot p:last-child{
    font-size:13px;
    color:#000;
    margin:5px 0 0 10px;
}

/* 轮播 */

.case2{
    height:500px;
    width:100%;
}
.case2-con{
    height:500px;
}
.swiper{
    height:427px;
    width:100%;
}    

.cb_one{
    height:445px;
    width:292px;
   
    float:left;
   
}
.cap{
    height:47px;
    font-size:26px;
    color:#000;
    font-weight:500;
    padding-top:27px;
    margin-left:14px;
}
.one1{
     margin-left:20px;
}
.one2{
    margin-left:16px;
}


.cb_oneImg{
    height:293px;
    width:292px;
   
}
.cb_one p{
    font-size:12px;
    color:#000;
    margin:15px 0 0 16px;
}







