.cheader , .header_content,.divnone_con , .nav_content,.modelfor-con,.case1-con,.case2-con,.botton_con,
.blist_con,.pay-con,.wei-con{
    width:1262px;
    margin:0 auto;
}



/* header  */
.cheader{
    width:100%;
    position: relative;
    height:80px;
}


.header{
    width:100%;
    height:29px;
    background:#000;
}
.header_content{
    height:29px;
    background:#000;
}
.header_ul{
    width:419px;
    height:29px;
    margin-left:848px;
}
.header_ul li{
    float:left;
    font-size:12px;
    text-align: center;
    line-height:29px;
}
.header_ul li a{
    display:block;
    width:103px;
    height:29px;
    color:#c8cbcc;
}
.header_ul li:nth-child(2) a:hover{
    background:#fff;
    color:#000;
}

.emillevent a{
    display:block;
}

/* nav */
.nav{
    height:51px;
    width:100%;
    background:#000;
    position:absolute;
    z-index:10;
}
.nav_content{
    height:51px;
}
.nc_left{
    width:720px;
    height:51px;
    float:left;
}
.nc_left ul h1{
    float:left;
}
.nc_left ul h1 img{
    width:68px;
    height:48px;
    position: absolute;
   bottom:15px;
}
.nc_left ul li{
    float:left;
    margin-top:11px;
    font-size:18px;
    font-weight:600;
}
.nc_left ul li a{
    color:#fff;
}
.li1 a{
    display:block;
    width:60px;
    margin-left:12px;
    text-align: center;
}
.nc_left ul .li11{
    margin-left:80px;
}
.li1:nth-child(4) a{
    padding-right:10px;
    border-right:1px solid #fff;
}
.li1:nth-child(6) a{
    padding-right:10px;
    border-right:1px solid #fff;
}
.li2{
    margin-left:20px;
}

.nc_right{
    float:right;
    width:250px;
    height:34px;
    margin:10px 10px 0 0;
    
}
.nc_right input{
    height:30px;
    width:140px;
    margin:2px 0 0 0;
    float:left;
}
.nc_right .inputi button{
    height:30px;
    width:30px;
    float:left;
    margin-top:2px;
    background:#fff;
}
.nc_right .inputi i{
    font-size:16px;
    font-weight:600;
}

  .nc_right a .ipi2{
    color:#fff;
    line-height:30px;
    font-size:24px;
    margin-left:10px;
    float:left;
}

.inu{
    width:168px;
    height:100%;
    float:left;
    background:#fff;
    border:1px solid #888;
    font-size:12px;
    

   
}

.inu li:hover{
    color:#888;
}



/* 点击邮件订阅显示和隐藏的内容 */

.divnone{
    height:250px;
    width:100%;
    background:#ebedee;
    display:none;
    position: absolute;
    z-index:10;
}
.divnone_con{
    height:243px;
    
}
.dc_top{
    height:74px;
    border-bottom: 1px solid #666;
}
.dc_top p{
    height:74px;
    float:left;
    text-align:center;
    line-height:74px;
    font-size:14px;
    color:#000;
    margin-left:10px;
}
.dc_top p:last-child{
    margin-left:310px;
}
.dc_between{
    height:110px;
}
.db_left{
    width:404px;
    height:90px;
    float:left;
    padding:20px 0 0 10px;
}
.db_bet{
    margin-left:75px;
    width:200px;
    height:90px;
    float:left;
    padding:20px 0 0 10px;
}
.db_left:first-child{
    font-size:14px;
    color:#000;
    font-weight:600;
}
.db_left input{
    width:300px;
    height:36px;
    background:#fff;
    margin-top:5px;
    border:1px solid #c8cbcc;
}
.db-p2{
    margin-top:5px;
    color:#666;
}
.dbp3{
    color:#000;
    font-size:14px;
    font-weight:600;
    margin-bottom:10px;
}
.man18{
    
    line-height:110px;
    margin-left:60px;
    font-size:14px;
    color:#000;
}
.man18 .old{
    width:20px;
    height:20px;
    margin-right:5px;
}


.dingy{
    width:130px;
    height:42px;
    background:#000;
    color:#fff;
    margin-left:180px;
}
#man,#woman{
   
    width:20px;
    height:20px;
   
}
#woman{
     margin-left:10px;
}

.dc_buttom p{
    margin:10px 0 0 10px;
    font-size:12px;
    color:#888;
}



/* banner轮播图 */

.swiper-container {
    width: 100%;
    height: 500px;
    
} 



/* banner下面的模块 */
.modelfor{
    height:949px;
    width:100%;
}
.modelfor-con{
    padding-top:40px;
    height:909px;
    
}
.modelfor-case{
  
    width:596px;
    height:416px;
    float:left;
}
.modelfor-img{
    height:334px;
    width:596px;
    
}

.modelfor-case img{
    height:100%;
    width:100%;
}
.modelfor-case>p{
    font-size:32px;
    font-weight: 600;
    color:#000;
    margin-top:5px;
}
.modelfor-case>a{
    display:block;
    font-size:14px;
    margin-top:26px;
    color:#000;
}
.mc-case{
    margin-top:25px;
}
.mc-case1{
    margin-left:20px;
}
.mc-case2{
    margin-left:25px;
}


/* case1 */
.case1{
    height:519px;
    width:100%;
    
}
.case1-con{
   
    position: relative;
    

}
.cap{
    height:47px;
    font-size:26px;
    color:#000;
    font-weight:500;
    
    padding-top:27px;
}
.case1Con_botton{
    height:445px;
  
    position: absolute;
}
.cb_one{
    height:445px;
    width:292px;
   
    float:left;
   
}
.one1{
     margin-left:20px;
}
.one2{
    margin-left:16px;
}


.cb_oneImg{
    height:293px;
    width:292px;
   
}
.cb_one p{
    font-size:12px;
    color:#000;
    margin:15px 0 0 16px;
}

.btn1,.btn2{
    width:25px;
    height:25px;
   background:#fff;
    font-size:18px;
    border-radius: 10px;
    
}


.btn1{
    position: absolute;
    left:0;
    top:200px;
}
.btn2{
    position: absolute;
    right:0;
    top:200px;
}


/* case2 */
.case2{
    height:500px;
    width:100%;
}
.case2-con{
    height:500px;
}
.swiper{
    height:427px;
    width:100%;
}    


/* 底部导航栏 */
.botton_nav{
    height:100px;
    width:100%;
    background:#000;
}
.botton_con{
    height:100px;
}
.botton_nav .botton_con ul li{
    float:left;
    margin-top:36px;
    font-size:14px;
    color:#fff;
    font-weight:600;
}
.botton_nav .botton_con ul li a{
    color:#fff;
}
.botton_nav .botton_con ul li p{
    font-size:12px;
    color:#888888;
    font-weight:normal;
    margin-left:22px;
}
.bli1{
    margin-left:20px;
}
.bli2{
    margin-left:85px;
}
.bli3{
    margin-left:286px;
}

/* 底部列表 */
.botton_list{
    height:317px;
    width:100%;
   
}
.blist_con{
    height:277px;
    
    padding-top:40px;
}
.blist_con ul{
    float:left;
}
.bul1{
    margin-left:20px;
}
.bul2{
    margin-left:180px;
}
.bul3{
    margin-left:220px;
}
.blist_con ul  h2{
    font-size:16px;
    color:#000;
    font-weight:600;
}
.blist_con ul li{
    font-size:14px;
    color:#000;
}
.bli11{
    margin-top:20px;
    position: relative;
}
.bul3 li{
    display:block;
    background:url(./../images/index/icon.png)  top left;
    height:26px;
    width:26px;
    float:left;
    margin-left:8px;
   
}
.bul3>li:first-child{
   
   background-position:-129px 153px;
}


/* 倒数第二块付款 */
.pay{
    height:111px;
    width:100%;
}
.pay-con{
    height:111px;
    background:blue;
}

.pc_top{
    height:45px;
    width:100%;
    background:yellow;
}
.pc_top p{
    float:left;
    font-size:14px;
    color:#000;
    line-height:45px;
    margin-left:20px;
}
.pc_top i{
    margin-top:10px;
    height:25px;
    width:100px;
    float:left;
    background:url(./../images/index/icon.png)no-repeat top left;
}

.pay .pc_top> i .pci1{
    background-position: -615px 341px;
}
.pc_botton p{
    font-size:14px;
    float:left;
    line-height:66px;
    color:#000;
}
.pc_botton p:first-child{
    margin-left:20px;
}
.pc_botton p:last-child{
    margin-left:85px;
}

/* 尾部，最后的曙光 */
.wei{
    height:40px;
    width:100%;
    background:blue;
}
.wei-con{
    height:40px;
    background:pink;
    line-height:40px;
}
.wei-con ul{
   float:left;
    font-size:12px;
    color:#888;
}
.wei-con ul:first-child{
    margin-left:20px;
}

.wei-con ul:last-child{
    margin-left:620px;
}
.wei-con ul li{
   float:left;

}

